.footer {
  margin-top: -0.2rem;
  width: 100%;
  height: .5rem;
  background-color: #ECEAEA;
  display: flex;
  justify-content: space-around;
}

.swicth-to-tree, .swicth-to-mine, .swicth-to-lib {
  width: 33%;
  display: flex;
  justify-content: center;
  color: #81BEB2;
}

.tree-content, .mine-content, .lib-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: .5rem
}

.mine-img, .tree-img {
  width: .4rem;
  height: .3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}